.flexbox-container
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    .flex-block
    
:scss
    .flexbox-container{
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: flex-end;
    }
    
    .flex-block{
        background: #f77c1e;
        width: 180px;
        height: 160px;
    }