.flexbox-container
    .flex-block
    .flex-block
    .flex-block

    
:scss
    .flexbox-container {
        display: flex;
        align-items: stretch;
        align-content: stretch;
    
    }
    .flex-block{
        background: #f77c1e;
        flex-grow: 1;
        width: 180px;
    }