%a{href: "/v1/screen8"}
    %img{src: "/v1_screens/7409_f_top.png", width: "100%"}
%a{href: "/v1/screen12"}
    %img{src: "/v1_screens/7409_f_bottom.png", width: "100%"}
    
// IGNORE, BUT KEEP THIS LINE (Back button)   
= render :partial => "application/back_to_root"